<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>icon</key>
		<string>___PACKAGENAMEASIDENTIFIER___Icon.png</string>
		<key>label</key>
		<string>___PACKAGENAMEASIDENTIFIER___</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Text and Secure Cells</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>key</key>
			<string>EditTextCell1</string>
			<key>label</key>
			<string>Text</string>
			<key>placeholder</key>
			<string>Any Text Here</string>
			<key>PostNotification</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>key</key>
			<string>SecureEditTextCell2</string>
			<key>label</key>
			<string>Secure</string>
			<key>PostNotification</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Place text here to provide additional information about the cells above.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Numeric Cells</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>key</key>
			<string>EditTextCell3</string>
			<key>keyboard</key>
			<string>phone</string>
			<key>label</key>
			<string>Phone</string>
			<key>placeholder</key>
			<string>Phone Number</string>
			<key>PostNotification</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>key</key>
			<string>EditTextCel4</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>label</key>
			<string>Numeric</string>
			<key>placeholder</key>
			<string>Numbers</string>
			<key>PostNotification</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Place text here to provide additional information about the cells above.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Switch and Slider Cells</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>key</key>
			<string>SwitchCell5</string>
			<key>label</key>
			<string>Switch</string>
			<key>PostNotification</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>50</real>
			<key>defaults</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>key</key>
			<string>SliderCell6</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>100</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___-preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Place text here to provide additional information about the cells above.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>List Cell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>key</key>
			<string>LinkListCell7</string>
			<key>label</key>
			<string>List</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Item 1</string>
				<string>Item 2</string>
				<string>Item 3</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>default</key>
			<integer>1</integer>
			<key>PostNotification</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___-preferencesChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© ___YEAR___ ___ORGANIZATIONNAME___</string>
		</dict>
	</array>
	<key>title</key>
	<string>___PACKAGENAME___</string>
</dict>
</plist>
