<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.monkey.monkeydev.debianPackage</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>MonkeyDevBuildPackageOnAnyBuild</key>
				<string>NO</string>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Package/DEBIAN/control</string>
		<string>Package/DEBIAN/control:debianControl</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Package/DEBIAN/control</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>DEBIAN</string>
			</array>
		</dict>
		<key>*:debianControl</key>
		<dict>
			<key>Beginning</key>
			<string>Package: ___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___
Name: ___VARIABLE_productName___
Version: 0.1-1
Description: </string>
			<key>End</key>
			<string>Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: ___FULLUSERNAME___
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 
</string>
		</dict>
		<key>Package/DEBIAN/preinst</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>DEBIAN</string>
			</array>
			<key>Beginning</key>
			<string>#!/bin/sh

# This script is executed BEFORE the Debian package is INSTALLED
# For information about this file, see http://www.debian.org/doc/manuals/debian-faq/ch-pkg_basics.en.html#s-maintscripts.
</string>
		</dict>
		<key>Package/DEBIAN/postinst</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>DEBIAN</string>
			</array>
			<key>Beginning</key>
			<string>#!/bin/sh

# This script is executed AFTER the Debian package is INSTALLED
# For information about this file, see http://www.debian.org/doc/manuals/debian-faq/ch-pkg_basics.en.html#s-maintscripts.
</string>
		</dict>
		<key>Package/DEBIAN/prerm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>DEBIAN</string>
			</array>
			<key>Beginning</key>
			<string>#!/bin/sh

# This script is executed BEFORE the Debian package is REMOVED
# For information about this file, see http://www.debian.org/doc/manuals/debian-faq/ch-pkg_basics.en.html#s-maintscripts.
</string>
		</dict>
		<key>Package/DEBIAN/postrm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>DEBIAN</string>
			</array>
			<key>Beginning</key>
			<string>#!/bin/sh

# This script is executed AFTER the Debian package is REMOVED
# For information about this file, see http://www.debian.org/doc/manuals/debian-faq/ch-pkg_basics.en.html#s-maintscripts.
</string>
		</dict>
	</dict>
</dict>
</plist>
