<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.monkey.monkeydev.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>icon.png</string>
		<string>Scripts/quick-resign.sh</string>
		<string>Config/MDConfig.plist</string>
		<string>Info.plist:PackageType</string>
		<string>Info.plist:IconFiles</string>
		<string>TargetApp/put ipa or app here</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>icon.png</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>icon.png</string>
		</dict>
		<key>Scripts/quick-resign.sh</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Scripts</string>
			</array>
			<key>Path</key>
			<string>Scripts/quick-resign.sh</string>
		</dict>
		<key>Config/MDConfig.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Config</string>
			</array>
			<key>Path</key>
			<string>Config/MDConfig.plist</string>
		</dict>
		<key>main.m:main</key>
		<dict>
			<key>Beginning</key>
			<string>int main(int argc, const char * argv[]) {</string>
			<key>End</key>
			<string>}</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>main.m</key>
		<dict>
			<key>SortOrder</key>
			<integer>999</integer>
		</dict>
		<key>Info.plist:PackageType</key>
		<string>&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;APPL&lt;/string&gt;
</string>
		<key>Info.plist:IconFiles</key>
		<string>&lt;key&gt;CFBundleIconFiles&lt;/key&gt;
&lt;array&gt;
&lt;string&gt;___PACKAGENAME___/icon.png&lt;/string&gt;
&lt;/array&gt;</string>
		<key>TargetApp/put ipa or app here</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>TargetApp</string>
			</array>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>MONKEYDEV_DEFAULT_BUNDLEID</key>
				<string>NO</string>
				<key>MONKEYDEV_ADD_SUBSTRATE</key>
				<string>YES</string>
				<key>MONKEYDEV_TARGET_APP</key>
				<string>___VARIABLE_TargetAppInfo___</string>
				<key>MONKEYDEV_INSERT_DYLIB</key>
				<string>YES</string>
				<key>PODS_CONFIGURATION_BUILD_DIR</key>
				<string>$BUILD_DIR/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)</string>
				<key>MONKEYDEV_CLASS_DUMP</key>
				<string>NO</string>
				<key>MONKEYDEV_RESTORE_SYMBOL</key>
				<string>NO</string>
				<key>PODS_ROOT</key>
				<string>${SRCROOT}/Pods</string>
				<key>ENABLE_BITCODE</key>
				<string>NO</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>/opt/MonkeyDev/Tools/pack.sh</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>DstSubfolderSpec</key>
					<integer>10</integer>
					<key>DstPath</key>
					<string></string>
					<key>Class</key>
					<string>CopyFiles</string>
				</dict>
				<dict>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>/opt/MonkeyDev/Tools/pack.sh codesign</string>
				</dict>
			</array>
			<key>TargetIdentifier</key>
			<string>com.monkey.monkeydev.TargetApp</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>TargetAppInfo</string>
			<key>Required</key>
			<false/>
			<key>Name</key>
			<string>Target App</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>The displayname or bundle id of the application you debug.</string>
			<key>Default</key>
			<string>Optional</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>8.0</string>
		</dict>
	</dict>
	<key>Components</key>
	<array>
		<dict>
			<key>ProductBuildPhaseInjections</key>
			<array>
				<dict>
					<key>TargetIdentifier</key>
					<string>com.monkey.monkeydev.TargetApp</string>
				</dict>
			</array>
			<key>Identifier</key>
			<string>com.monkey.monkeydev.cocoaTouchLibrary</string>
			<key>Name</key>
			<string>___PACKAGENAME___Dylib</string>
		</dict>
	</array>
</dict>
</plist>
