<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.monkey.monkeydev.cocoaTouchLibrary</string>
	<key>Description</key>
	<string>This template builds a dynamic or static library that links against the Foundation and UIKit frameworks.</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>OTHER_LDFLAGS</key>
				<string>$(inherited)  -weak_library /usr/lib/libc++.dylib -weak_library /usr/lib/libstdc++.dylib -weak_library $(MonkeyDevPath)/Frameworks/libsubstrate.dylib</string>
				<key>ENABLE_BITCODE</key>
				<string>NO</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>INSTALL_PATH</key>
				<string>@executable_path/Frameworks/lib___PACKAGENAME___.dylib</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PACKAGENAME___-Prefix.pch</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>ShellScript</key>
					<string>/opt/MonkeyDev/bin/md --xcbp-logos</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>JavaScriptCore</string>
				<string>Foundation</string>
				<string>UIKit</string>
			</array>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>MonkeyDevTheosPath</key>
			<string>/opt/theos</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
			<key>GCC_WARN_ABOUT_MISSING_PROTOTYPES</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES</key>
			<string>*.nib *.lproj *.gch (*) .DS_Store CVS .svn .git .hg *.xcodeproj *.xcode *.pbproj *.pbxproj</string>
			<key>OTHER_CFLAGS</key>
			<string>$(inherited)  -DTHEOS_INSTANCE_NAME=&quot;\&quot;___PACKAGENAME___\&quot;&quot;</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>$(inherited) $(MonkeyDevPath)/include $(MonkeyDevTheosPath)/vendor/include/**</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<string>$(inherited) $(MonkeyDevPath)/Frameworks $(MonkeyDevTheosPath)/vendor/lib/**</string>
			<key>MonkeyDevPath</key>
			<string>/opt/MonkeyDev</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>8.0</string>
			<key>FRAMEWORK_SEARCH_PATHS</key>
			<string>$(inherited) $(MonkeyDevPath)/Frameworks/** $(MonkeyDevPath)/Librarys/** $(MonkeyDevTheosPath)/vendor/lib</string>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<string>$(inherited)  -weak_library /usr/lib/libc++.dylib -weak_library /usr/lib/libstdc++.dylib -weak_library $(MonkeyDevPath)/Frameworks/libsubstrate.dylib -lcycript -framework RevealServer</string>
				<key>VALIDATE_PRODUCT</key>
				<string>NO</string>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG=1 $(inherited)</string>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
				<key>COPY_PHASE_STRIP</key>
				<string>NO</string>
				<key>GCC_DYNAMIC_NO_PIC</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>COPY_PHASE_STRIP</key>
				<string>YES</string>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>NotPersisted</key>
			<true/>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Identifier</key>
			<string>cocoaLibraryType</string>
			<key>Name</key>
			<string>Type</string>
			<key>Description</key>
			<string>Indicates which type of library to create.</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Dynamic</string>
			<key>Units</key>
			<dict>
				<key>Dynamic</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>ProductType</key>
								<string>com.apple.product-type.library.dynamic</string>
								<key>SharedSettings</key>
								<dict>
									<key>DYLIB_COMPATIBILITY_VERSION</key>
									<string>1</string>
									<key>DYLIB_CURRENT_VERSION</key>
									<string>1</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
				<key>Static</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>ProductType</key>
								<string>com.apple.product-type.library.static</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>NotPersisted</key>
			<true/>
			<key>Identifier</key>
			<string>executablePrefixLib</string>
			<key>Name</key>
			<string>Prefix executable with lib</string>
			<key>Description</key>
			<string>Indicates whether to prefix library executable with lib.</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>EXECUTABLE_PREFIX</key>
									<string>lib</string>
								</dict>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Logos/___PACKAGENAMEASIDENTIFIER___.xm</string>
		<string>Logos/___PACKAGENAMEASIDENTIFIER___.mm</string>
		<string>Config/MDConfigManager.h</string>
		<string>Config/MDConfigManager.m</string>
		<string>Config/MDCycriptManager.h</string>
		<string>Config/MDCycriptManager.m</string>
		<string>Config/MDMethodTrace.h</string>
		<string>Config/MDMethodTrace.m</string>
		<string>Trace/a1a2-selectortramps-arm.s</string>
		<string>Trace/a1a2-selectortramps-arm64.s</string>
		<string>Trace/a1a2-selectortramps-i386.s</string>
		<string>Trace/a1a2-selectortramps-x86_64.s</string>
		<string>Trace/a2a3-selectortramps-arm.s</string>
		<string>Trace/a2a3-selectortramps-i386.s</string>
		<string>Trace/a2a3-selectortramps-x86_64.s</string>
		<string>Trace/OCMethodTrace.h</string>
		<string>Trace/OCMethodTrace.m</string>
		<string>Trace/OCSelectorTrampolines.h</string>
		<string>Trace/OCSelectorTrampolines.mm</string>
		<string>Trace/selectortramps.mac</string>
		<string>Tools/LLDBTools.h</string>
		<string>Tools/LLDBTools.mm</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFoundation</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importTheosPrefix</string>
		<string>AntiAntiDebug/AntiAntiDebug.m</string>
		<string>fishhook/fishhook.c</string>
		<string>fishhook/fishhook.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.m</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Logos/___PACKAGENAMEASIDENTIFIER___.xm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Logos</string>
			</array>
			<key>Path</key>
			<string>Logos/___PACKAGENAMEASIDENTIFIER___.xm</string>
		</dict>
		<key>Logos/___PACKAGENAMEASIDENTIFIER___.mm</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Logos</string>
			</array>
			<key>Path</key>
			<string>Logos/___PACKAGENAMEASIDENTIFIER___.mm</string>
		</dict>
		<key>Config/MDConfigManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Config</string>
			</array>
			<key>Path</key>
			<string>Config/MDConfigManager.h</string>
		</dict>
		<key>Config/MDConfigManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Config</string>
			</array>
			<key>Path</key>
			<string>Config/MDConfigManager.m</string>
		</dict>
		<key>Config/MDCycriptManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Config</string>
			</array>
			<key>Path</key>
			<string>Config/MDCycriptManager.h</string>
		</dict>
		<key>Config/MDCycriptManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Config</string>
			</array>
			<key>Path</key>
			<string>Config/MDCycriptManager.m</string>
		</dict>
		<key>Config/MDMethodTrace.h</key>
		<dict>
			<key>Path</key>
			<string>Config/MDMethodTrace.h</string>
			<key>Group</key>
			<array>
				<string>Config</string>
			</array>
		</dict>
		<key>Config/MDMethodTrace.m</key>
		<dict>
			<key>Path</key>
			<string>Config/MDMethodTrace.m</string>
			<key>Group</key>
			<array>
				<string>Config</string>
			</array>
		</dict>
		<key>Trace/a1a2-selectortramps-arm.s</key>
		<dict>
			<key>Path</key>
			<string>Trace/a1a2-selectortramps-arm.s</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/a1a2-selectortramps-arm64.s</key>
		<dict>
			<key>Path</key>
			<string>Trace/a1a2-selectortramps-arm64.s</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/a1a2-selectortramps-i386.s</key>
		<dict>
			<key>Path</key>
			<string>Trace/a1a2-selectortramps-i386.s</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/a1a2-selectortramps-x86_64.s</key>
		<dict>
			<key>Path</key>
			<string>Trace/a1a2-selectortramps-x86_64.s</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/a2a3-selectortramps-arm.s</key>
		<dict>
			<key>Path</key>
			<string>Trace/a2a3-selectortramps-arm.s</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/a2a3-selectortramps-i386.s</key>
		<dict>
			<key>Path</key>
			<string>Trace/a2a3-selectortramps-i386.s</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/a2a3-selectortramps-x86_64.s</key>
		<dict>
			<key>Path</key>
			<string>Trace/a2a3-selectortramps-x86_64.s</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/OCMethodTrace.h</key>
		<dict>
			<key>Path</key>
			<string>Trace/OCMethodTrace.h</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/OCMethodTrace.m</key>
		<dict>
			<key>Path</key>
			<string>Trace/OCMethodTrace.m</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/OCSelectorTrampolines.h</key>
		<dict>
			<key>Path</key>
			<string>Trace/OCSelectorTrampolines.h</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/OCSelectorTrampolines.mm</key>
		<dict>
			<key>Path</key>
			<string>Trace/OCSelectorTrampolines.mm</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Trace/selectortramps.mac</key>
		<dict>
			<key>Path</key>
			<string>Trace/selectortramps.mac</string>
			<key>Group</key>
			<array>
				<string>Trace</string>
			</array>
		</dict>
		<key>Tools/LLDBTools.h</key>
		<dict>
			<key>Path</key>
			<string>Tools/LLDBTools.h</string>
			<key>Group</key>
			<array>
				<string>Tools</string>
			</array>
		</dict>
		<key>Tools/LLDBTools.mm</key>
		<dict>
			<key>Path</key>
			<string>Tools/LLDBTools.mm</string>
			<key>Group</key>
			<array>
				<string>Tools</string>
			</array>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch:objC</key>
		<dict>
			<key>Beginning</key>
			<string>#ifdef __OBJC__</string>
			<key>End</key>
			<string>#endif</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch</key>
		<dict>
			<key>Beginning</key>
			<string>//
// Prefix header for all source files of the &apos;___PACKAGENAME___&apos; target in the &apos;___PACKAGENAME___&apos; project
//
</string>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>*:*:importTheosPrefix</key>
		<string>#import &quot;/opt/theos/Prefix.pch&quot;  //path/to/theos/Prefix.pch</string>
		<key>*:*:importFoundation</key>
		<string>#import &lt;Foundation/Foundation.h&gt;
</string>
		<key>AntiAntiDebug/AntiAntiDebug.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AntiAntiDebug</string>
			</array>
			<key>Path</key>
			<string>AntiAntiDebug/AntiAntiDebug.m</string>
		</dict>
		<key>fishhook/fishhook.c</key>
		<dict>
			<key>Path</key>
			<string>fishhook/fishhook.c</string>
			<key>Group</key>
			<array>
				<string>fishhook</string>
			</array>
		</dict>
		<key>fishhook/fishhook.h</key>
		<dict>
			<key>Path</key>
			<string>fishhook/fishhook.h</string>
			<key>Group</key>
			<array>
				<string>fishhook</string>
			</array>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		</dict>
	</dict>
</dict>
</plist>
