*.x linguist-language=Logos
*.xm linguist-language=Logos

*.c linguist-language=Logos 
*.h linguist-language=Logos
*.m linguist-language=Logos 

*.deb linguist-language=Logos
*.py linguist-language=Logos