Package: preferenceloader
Name: PreferenceLoader
Depends: mobilesubstrate
Version: 2.2.0
Architecture: iphoneos-arm
Description: load preferences in style
Maintainer: Dustin Howett <dustin@howett.net>
Author: Dustin Howett <dustin@howett.net>
Section: System
dev: dustinhowett
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=preferenceloader2Data
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=preferenceloader2Data
Tag: role::hacker, purpose::library
