<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENABLE_METHODTRACE</key>
	<false/>
	<key>TARGET_CLASS_LIST</key>
	<dict>
		<key>BaseMsgContentViewController</key>
		<string></string>
		<key>CMessageMgr</key>
		<array>
			<string>AsyncOnAddMsg:MsgWrap:</string>
			<string>onRevokeMsg:</string>
		</array>
	</dict>
</dict>
</plist>
