Package: com.zjj.DingTalkRedEnvelop
Name: DingTalkRedEnvelop
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: in8
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

