<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.kokoabim.iosopendev.notificationCenterWidget</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a Notification Center Widget (WeeApp).</string>
	<key>Ancestors</key>
	<array>
		<string>com.kokoabim.iosopendev.base</string>
		<string>com.kokoabim.iosopendev.unitTests</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.library.dynamic</string>
			<key>SharedSettings</key>
			<dict>
				<key>DYLIB_COMPATIBILITY_VERSION</key>
				<string>1</string>
				<key>DYLIB_CURRENT_VERSION</key>
				<string>1</string>
				<key>EXECUTABLE_NAME</key>
				<string>___PACKAGENAMEASIDENTIFIER___</string>
				<key>EXECUTABLE_EXTENSION</key>
				<string></string>
				<key>INSTALL_PATH</key>
				<string>/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PACKAGENAME___-Prefix.pch</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
				<dict>
					<key>ShellScript</key>
					<string>/opt/iOSOpenDev/bin/iosod --xcbp</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Foundation</string>
				<string>UIKit</string>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFoundation</string>
		<string>___PACKAGENAMEASIDENTIFIER___Controller.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___Controller.m</string>
		<string>Package/DEBIAN/control:debianControl:section</string>
		<string>Package/DEBIAN/control:debianControl:depends</string>
		<string>Package/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle/Info.plist</string>
		<string>Package/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle/InfoPlist.strings</string>
		<string>Package/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle/WeeAppBackground@2x.png</string>
		<string>Package/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle/WeeAppBackground.png</string>
		<string>BBWeeAppController.h</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Package/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle/Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>System</string>
				<string>Library</string>
				<string>WeeAppPlugins</string>
				<string>___PACKAGENAME___</string>
			</array>
			<key>Path</key>
			<string>Info.plist</string>
		</dict>
		<key>Package/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle/InfoPlist.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>System</string>
				<string>Library</string>
				<string>WeeAppPlugins</string>
				<string>___PACKAGENAME___</string>
			</array>
			<key>Path</key>
			<string>InfoPlist.strings</string>
		</dict>
		<key>Package/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle/WeeAppBackground@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>System</string>
				<string>Library</string>
				<string>WeeAppPlugins</string>
				<string>___PACKAGENAME___</string>
			</array>
			<key>Path</key>
			<string>WeeAppBackground@2x.png</string>
		</dict>
		<key>Package/System/Library/WeeAppPlugins/___PACKAGENAME___.bundle/WeeAppBackground.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>System</string>
				<string>Library</string>
				<string>WeeAppPlugins</string>
				<string>___PACKAGENAME___</string>
			</array>
			<key>Path</key>
			<string>WeeAppBackground.png</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___Controller.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___Controller.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___Controller.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___Controller.m</string>
		</dict>
		<key>BBWeeAppController.h</key>
		<dict>
			<key>Path</key>
			<string>BBWeeAppController.h</string>
		</dict>
		<key>*:debianControl:section</key>
		<string>Section: Addons (NotificationCenter)</string>
		<key>*:debianControl:depends</key>
		<string>Depends: firmware (&gt;= 5.0)</string>
	</dict>
</dict>
</plist>
