<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.monkey.monkeydev.base</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.monkey.monkeydev.debianPackage</string>
		<string>com.monkey.monkeydev.preferenceLoader</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>MonkeyDevClearUiCacheOnInstall</key>
				<string>NO</string>
				<key>MonkeyDevkillProcessOnInstall</key>
				<string>SpringBoard</string>
				<key>CODE_SIGN_IDENTITY</key>
				<string></string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>MonkeyDevDeviceIP</key>
				<string></string>
				<key>MonkeyDevDevicePort</key>
				<string></string>
				<key>MonkeyDevDevicePassword</key>
				<string></string>
				<key>MonkeyDevInstallOnProfiling</key>
				<string>YES</string>
				<key>MonkeyDevCopyOnBuild</key>
				<string>NO</string>
				<key>MonkeyDevInstallOnAnyBuild</key>
				<string>YES</string>
			</dict>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>MonkeyDevTheosPath</key>
			<string>/opt/theos</string>
			<key>TARGETED_DEVICE_FAMILY</key>
			<string>1,2</string>
			<key>GCC_WARN_ABOUT_MISSING_PROTOTYPES</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES</key>
			<string>*.nib *.lproj *.gch (*) .DS_Store CVS .svn .git .hg *.xcodeproj *.xcode *.pbproj *.pbxproj</string>
			<key>OTHER_CFLAGS</key>
			<string>-DTHEOS_INSTANCE_NAME=&quot;\&quot;___PACKAGENAME___\&quot;&quot;</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>$(MonkeyDevTheosPath)/vendor/include/**</string>
			<key>LIBRARY_SEARCH_PATHS</key>
			<string>$(MonkeyDevTheosPath)/vendor/lib/**</string>
			<key>MonkeyDevPath</key>
			<string>/opt/MonkeyDev</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>8.0</string>
			<key>FRAMEWORK_SEARCH_PATHS</key>
			<string>$(MonkeyDevPath)/frameworks/** $(MonkeyDevTheosPath)/vendor/lib</string>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>ONLY_ACTIVE_ARCH</key>
				<string>YES</string>
				<key>VALIDATE_PRODUCT</key>
				<string>NO</string>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG=1 $(inherited)</string>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
				<key>COPY_PHASE_STRIP</key>
				<string>NO</string>
				<key>GCC_DYNAMIC_NO_PIC</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>COPY_PHASE_STRIP</key>
				<string>YES</string>
				<key>VALIDATE_PRODUCT</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s name.</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>bundleIdentifierPrefix</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Company Identifier</string>
			<key>Description</key>
			<string>Your company&apos;s bundle identifier prefix.</string>
			<key>EmptyReplacement</key>
			<string>com.yourcompany</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>bundleIdentifier</string>
			<key>Name</key>
			<string>Bundle Identifier</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s bundle identifier.</string>
			<key>Default</key>
			<string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___VARIABLE_productName:RFC1034Identifier___</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>*:*:importTheosPrefix</key>
		<string>#import &quot;/opt/theos/Prefix.pch&quot;  //path/to/theos/Prefix.pch</string>
		<key>*:comments</key>
		<string>//
//  ___FILENAME___
//  ___PACKAGENAME___
//
//  Created by ___FULLUSERNAME___ on ___DATE___.
//  Copyright (c) ___YEAR___ ___ORGANIZATIONNAME___. All rights reserved.
//
</string>
		<key>*:import:*</key>
		<string>#import &quot;___*___&quot;
</string>
		<key>*:*:importFoundation</key>
		<string>#import &lt;Foundation/Foundation.h&gt;
</string>
		<key>___PACKAGENAME___-Prefix.pch</key>
		<dict>
			<key>Beginning</key>
			<string>//
// Prefix header for all source files of the &apos;___PACKAGENAME___&apos; target in the &apos;___PACKAGENAME___&apos; project
//
</string>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch:objC</key>
		<dict>
			<key>Beginning</key>
			<string>#ifdef __OBJC__</string>
			<key>End</key>
			<string>#endif</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
