Package: com.alonemonkey.dumpdecrypted
Name: dumpdecrypted
Version: 0.1-1
Description: 
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: monkey
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

