<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.kokoabim.iosopendev.actionMenuPlugin</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an Action Menu Plugin.</string>
	<key>Ancestors</key>
	<array>
		<string>com.kokoabim.iosopendev.base</string>
		<string>com.kokoabim.iosopendev.unitTests</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.library.dynamic</string>
			<key>SharedSettings</key>
			<dict>
				<key>DYLIB_COMPATIBILITY_VERSION</key>
				<string>1</string>
				<key>DYLIB_CURRENT_VERSION</key>
				<string>1</string>
				<key>INSTALL_PATH</key>
				<string>/Library/ActionMenu/Plugins</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PACKAGENAME___-Prefix.pch</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
				<dict>
					<key>ShellScript</key>
					<string>/opt/iOSOpenDev/bin/iosod --xcbp</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>RunOnlyForDeploymentPostprocessing</key>
					<false/>
					<key>Class</key>
					<string>ShellScript</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Foundation</string>
				<string>UIKit</string>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFoundation</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importCocoa</string>
		<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		<string>Package/DEBIAN/control:debianControl:section</string>
		<string>Package/DEBIAN/control:debianControl:depends</string>
		<string>Package/Library/ActionMenu/Plugins/0xdeadfa11</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Package/Library/ActionMenu/Plugins/0xdeadfa11</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Package</string>
				<string>Library</string>
				<string>ActionMenu</string>
				<string>Plugins</string>
			</array>
			<key>Beginning</key>
			<string>
This file was created only to help build the project&apos;s group structure, and it can now be deleted.

Why 0xdeadfa11? See http://developer.apple.com/library/ios/#technotes/tn2151/_index.html.</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		</dict>
		<key>*:debianControl:section</key>
		<string>Section: Addons (Action Menu)</string>
		<key>*:debianControl:depends</key>
		<string>Depends: firmware (&gt;= 5.0),  actionmenu</string>
	</dict>
</dict>
</plist>
